$defaultColor: black;
$defaultFont: Arial;

body{
    margin:0;
    padding:0;
}
@media screen and (min-width:600px){
   .nav{
    width:40%;
    float:right;
    display:flex;
    border:0;
    } 
    
    .logo{
    float:left;
    width:60%;
    color:black;
    margin-left:1%;
    }

    .button{
        color:$defaultColor;
        margin:0 auto;
        padding:0;
        border:0;
        background-color: transparent;
        
        a{
            text-decoration: none;
            margin:2%;
            padding: 0;
            justify-content: center;
            display: flex;
            color:$defaultColor;
            width:100%;
            font-size:20px;
            transition-duration: 0.75s;
            
        }
        
        .active{
            border-bottom: 1px solid $defaultColor;
        }

        a:hover{
            color:red;
        }

        a:visited{
            color:inherit;
        }
        
    }
}

@media screen and (max-width:599px){
    .header{
        flex-direction: column;
        text-align: center;
    }

    .nav{
    width:100%;        
    border:0;
    } 
    
    .logo{
    width:100%;
    color:black;
    margin-left:1%;
    }
    
    .button{
        color:$defaultColor;
        margin:0 auto;
        padding:1%;
        border:0;
        background-color: transparent;
        
        a{
            text-decoration: none;
            margin:0 auto;
            padding: 0;
            justify-content: center;
            display: flex;
            color:$defaultColor;
            width:100%;
            font-size:20px;
            transition-duration: 0.75s;
        }
        
        a:hover{
            color:red;
        }

        a:visited{
            color:inherit;
        }
    }
}
.header{
    width:100%;
    display:flex;
    border-bottom: 1px solid $defaultColor;
}
.home{
    color:red;
}